{% extends 'base.html' %}

<!-- form -->
{% block content %}
<div class="container">
  <h3>Sign In</h3>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="username">
      <p class="form-label">{{ form.username.label }}</p>
      <!--  -->
      {{ form.username(size=32) }}<br />
      <!-- form errors -->
      {% for error in form.username.errors %}
      <span class="text-danger">[{{error}}]</span>
      {% endfor %}
    </div>

    <div class="password__field">
      <p class="form-label">{{ form.password.label }}</p>
      <!--  -->
      {{ form.password(size=32) }}<br />
      <!-- form errors -->
      {% for error in form.password.errors %}
      <span class="text-danger">[{{error}}]</span>
      {% endfor %}
    </div>
    <p class="form-check">
      {{ form.remember_me() }} {{form.remember_me.label }}
    </p>
    <p class="btn">{{ form.submit() }}</p>
  </form>
  <p>
    Don't have an account? <a href="{{url_for('auth.register')}}">Get one here.</a>
  </p>
</div>
{% endblock %}
