{% extends 'base.html' %}

<!-- landing page -->
{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
  <h2>Hello, {{ current_user.username }}</h2>
  {% else %}
  <h2>Welcome.</h2>
  {% endif %}
  <h4>Posts</h4>
  {% for pitch in pitches %}
  <div class="pitches">
    <hr />
    <div>
      <img
        src="{{ avatars.robohash(pitch.author.username, size='50')}}"
        alt=""
      />
      <a href="{{url_for('main.post', pitch_id=pitch.id)}}">{{pitch.title}}</a>
      <p>{{ pitch.text }}</p>
      <p>By <span class="text-muted">{{ pitch.author.username }}</span></p>
      <i class="text-muted">
        Created: {{pitch.timestamp.strftime('%d/%m/%Y %H:%M')}}
      </i>
      {% if pitch.categories %}
      <em class="bg-success">tags: {{ pitch.categories }}</em>
      {% else %}
      <em class="bg-info">general</em>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
