{% extends 'base.html' %}

<!-- title block -->
{% block title %} {{ title }} {% endblock %}
<!-- title block  end-->
<!-- create post template -->
{% block content %}
<div class="col col-4 w-75 p-5">
  <h3>Add new Post</h3>
  <form action="" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.title.label(class='form-label') }}<br />
      {{ form.title(class='form-control w-50', size=32, placeholder='Pitch title') }}<br />
      {% for error in form.title.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.text.label(class='form-label') }} <br />
      {{ form.text(class='form-control w-50', cols=50, rows=4, placeholder='type pitch here..') }} <br />
      {% for error in form.text.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.categories.label(class='form-label') }} <br />
      {{ form.categories(class='form-control w-25', size=32, placeholder='eg: technology') }} <br />
      {% for error in form.categories.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-primary">Sumbit</button>
  </form>
</div>
{% endblock %}
