{% extends 'base.html' %}

<!-- Single pitch view -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ pitch.title }}</h1>
      <p>{{ pitch.text }}</p>
      <p>{{ pitch.author.username}}</p>
      <p class="bg-danger">{{ pitch.categories}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Comments</h2>
      <a href="{{ url_for('main.comment', pitch_id=pitch.id)}}">reply..</a>
      <!-- comments -->
      {% for comment in comments %} {% if comment.pitch_id == pitch.id %}
      <p>{{comment.comment_text}}</p>
      <sub>{{comment.author.username}}</sub>
      {% endif %} {% endfor %}
    </div>
    <!-- comments end -->
  </div>
</div>
{% endblock %}
