{% extends 'base.html' %}

<!-- user profile page -->
{% block content %}
<div class="container">
  <!-- display pic -->
  <!-- display pic -->

  <h1>{{ user.username }}</h1>
  <em>{{ user.email }}</em>
  <p>Bio: <b>{{user.about_me}}</b></p>
  {% if user == current_user %}
  <p><a href="{{ url_for('main.update_profile') }}">Edit profile</a></p>
  {% endif %}

  <h4>My posts</h4>
  {% for pitch in pitches %} {% if pitch.author == current_user %}
  <hr />
  <div class="pitch">
    <h4><b>{{ pitch.title }}</b></h4>
    <p>{{ pitch.text }}</p>
    <i class="text-muted"
      >Date published:{{ pitch.timestamp.strftime('%Y/%d/%m') }}</i
    >
  </div>
  <hr />
  {% endif %} {% endfor %}
</div>
{% endblock %}
<!-- user profile page end-->
