{% extends 'base.html' %}

<!-- user profile page -->
{% block content %}
<div class="container">
  <h1>{{ user.username }}</h1>
  <em>{{ user.email }}</em>
  <p>Bio: <b>{{user.about_me}}</b></p>

  <h4>My posts</h4>
  {% for pitch in pitches %} {% if pitch.author == current_user %}
  <div class="pitch">
    <em>{{ pitch.user_id }}</em>
    <h3>{{ pitch.title }}</h3>
    <p>{{ pitch.text }}</p>
    <p>{{ pitch.created_at }}</p>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
<!-- user profile page end-->
